trigger:
- staging

resources:
- repo: self

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
      name: Azure Pipelines
    steps:
    - task: SSH@0
      inputs:
        sshEndpoint: 'demo-lokesh-1-ssh'
        runOptions: 'commands'
        commands: "sudo sh s.sh"
        readyTimeout: '20000'
